<div class="container">
  <h2>Your Books</h2>
  <button class="add-book-btn" (click)="openAddBookModal()">Add New Book</button>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.price_per_hour | currency }}</td>
          <td>
            <button class="edit-btn" (click)="openEditBookModal(book)">Edit</button>
            <button class="delete-btn" (click)="deleteBook(book._id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal for Add/Edit Book Form -->
  <app-book-form *ngIf="isModalOpen" [book]="selectedBook" (close)="closeModal()"></app-book-form>
</div> 