<div *ngIf="book" class="container">
  <div class="book-image">
    <img [src]="book.cover_image_url" alt="{{ book.title }}" />
  </div>
  <div class="book-content">
    <h2>{{ book.title }}</h2>
    <p class="author"><strong>Author:</strong> {{ book.author }}</p>
    <p class="description"><strong>Description:</strong> {{ book.description }}</p>
    <p class="price"><strong>Price:</strong> {{ book.price_per_hour | currency }}</p>
    <p class="published"><strong>Published:</strong> {{ book.published_date | date }}</p>
    <p class="genres"><strong>Genres:</strong> {{ book.genres.join(', ') }}</p>
    <button (click)="rentBook(book)">Rent</button>
  </div>
</div>
