<div class="modal">
    <div class="modal-content">
      <h2>{{ book ? 'Edit Book' : 'Add New Book' }}</h2>
  
      <form (ngSubmit)="onSubmit()" #bookForm="ngForm">
        <div>
          <label for="title">Title</label>
          <input type="text" id="title" [(ngModel)]="bookData.title" name="title" required />
        </div>
  
        <div>
          <label for="author">Author</label>
          <input type="text" id="author" [(ngModel)]="bookData.author" name="author" required />
        </div>
  
        <div>
          <label for="isbn">ISBN</label>
          <input type="text" id="isbn" [(ngModel)]="bookData.isbn" name="isbn" required />
        </div>

        <div>
            <label for="isbn">Published Date </label>
            <input type="date" id="p_date" [(ngModel)]="bookData.published_date" name="p_date" required />
          </div>
  
        <div>
          <label for="price">Price per Hour</label>
          <input type="number" id="price" [(ngModel)]="bookData.price_per_hour" name="price" required />
        </div>
  
        <div>
          <label for="genres">Genres (comma separated)</label>
          <input type="text" id="genres" [(ngModel)]="bookData.genres" name="genres" />
        </div>
  
        <div>
          <label for="description">Description</label>
          <textarea id="description" [(ngModel)]="bookData.description" name="description"></textarea>
        </div>

        <div>
            <label for="availability">Availability</label>
            <!--Select input type -->
            <select id="availability" [(ngModel)]="bookData.availability" name="availability" required>
                <option value="available">Available</option>
                <option value="unavailable">Unavailable</option>
            </select>

          </div>
  
        <!-- File Upload -->

        <div>
            <label for="cover_image_file">Upload Cover Image</label>
            <input type="file" id="cover_image_file" (change)="onImageSelected($event)" />
            <p *ngIf="uploading">Uploading cover image...</p>
          </div>

        <div>
          <label for="file">Upload Book (PDF/ePub)</label>
          <input type="file" id="file" (change)="onFileSelected($event)" />
        </div>
  
        <div class="actions">
          <button type="submit" [disabled]="!bookForm.form.valid || uploading">{{ book ? 'Update' : 'Add' }} Book</button>
          <button type="button" (click)="closeForm()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  