<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand" href="/">Rent-a-Read</a>
    <div class="navbar-buttons">
      <button *ngIf="!isAuthenticated()" (click)="goToLogin()">Login</button>
      <button *ngIf="!isAuthenticated()" (click)="goToRegister()">Register</button>
      <button *ngIf="isAuthenticated() && (isReader$ | async)" (click)="goToRentals()" >My Rentals</button>
      <button *ngIf="isAuthenticated()" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>