.profile-container {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-pic-section {
    position: relative;
    margin-bottom: 20px;
  }
  
  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ff6400;
    object-fit: cover;  /* Ensures the center part of the image is displayed */
    object-position: center; /* Centers the image */
  }
  

  input[type="file"] {
    width: 90%;
  }
  
  input {
    padding: 10px;
    width: 80%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #ff6400;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff4000;
  }

  .profile-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    max-width: 600px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .full-width {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  